<!DOCTYPE html>

<html lang="en" class="h-full">

  <head>

    <meta charset=" UTF-8">

    <meta name="csrf" content="{{ csrfToken }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title || 'Home' }} - Wonderbites</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>

  <body class="h-full overflow-hidden">
    <div id="app"></div>
  </body>
</html>
