@component('mailer/html')
    @slot('header')
    <mj-text font-size="20px" font-family="{{ $context.fontFamily }}" align="center" color="#fff">Wonderbites</mj-text>
    @end

    @slot('content')
    {{{ await $slots.content() }}}
    @end

    @slot('footer')
    {{{ await $slots.footer() }}}
    @end
@end
