<mj-section background-color="#E1251B" background-repeat="repeat" padding="20px 0" text-align="center" font-family="Inter">
    <mj-column>
        {{{ await $slots.main() }}}
    </mj-column>
</mj-section>
