<!DOCTYPE html>

<html lang="en" class="h-full bg-gray-100">

  <head>

    <meta charset=" UTF-8">

    <meta name="csrf" content="{{ csrfToken }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title || 'Home' }} - Wonderbites</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    @entryPointStyles('index')

  </head>

  <body class="h-full">

    <div id="index">

      <v-index :user="{{ JSON.stringify(auth.user) }}" :breadcrumb="{{ JSON.stringify(breadcrumb || []) }}" title="{{ title }}">

        <v-admin-layout>

          <template #actions>

            @!section('actions')

          </template>

          <template #content>

            @!section('content')

          </template>

        </v-admin-layout>

      </v-index>

    </div>


    <form id="logout-form" action="{{ route('logout') }}" method="post">{{ csrfField() }}</form>

    @entryPointScripts('index')
  </body>

</html>
