<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset=" UTF-8">
        <meta name="csrf" content="{{ csrfToken }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title || 'Home' }} - Wonderbites</title>

        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        @entryPointStyles('index')
        @entryPointScripts('index')
    </head>

    <body>
        <div id="index">

            <v-authentication-card container="{{container || 'sm:max-w-md'}} ">

                <template #logo>

                    <img src="/images/logo.png" class="h-6" alt="Wonderbites">

                </template>

                @!section('content')

            </v-authentication-card>

        </div>


    </body>

</html>
