<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || 'Home' }} - Wonderbites</title>
  @entryPointStyles('app')
</head>
<body>
  
  <div id="app"></div>

  @entryPointScripts('app')
</body>
</html>
